[submodule "almond"]
	path = almond2
	url = git@github.com:qbouvet/pkgbuilds-almond.git
[submodule "bash-command-timer-git"]
	path = bash-command-timer-git
	url = git@github.com:qbouvet/pkgbuilds-bash-command-timer-git.git
[submodule "bash-preexec"]
	path = bash-preexec
	url = git@github.com:qbouvet/pkgbuids-bash-preexec.git
[submodule "bash-timer"]
	path = bash-timer
	url = git@github.com:qbouvet/pkgbuids-bash-timer.git
[submodule "checksum-blister-kde-service-menu-git"]
	path = checksum-blister-kde-service-menu-git
	url = git@github.com:qbouvet/pkgbuilds-checksum-blister-kde-service-menu-git.git
[submodule "dolphin-squashfs-mount"]
	path = dolphin-squashfs-mount
	url = git@github.com:qbouvet/pkgbuilds-dolphin-squashfs-mount.git
[submodule "file-roller-kde-service-menu"]
	path = file-roller-kde-service-menu
	url = git@github.com:qbouvet/pkgbuilds-file-roller-kde-service-menu.git
[submodule "libstrangle"]
	path = libstrangle
	url = git@github.com:qbouvet/pkgbuilds-libstrangle.git
[submodule "nrf-udev"]
	path = nrf-udev
	url = git@github.com:qbouvet/pkgbuilds-nrf-udev.git
[submodule "python-wpm"]
	path = python-wpm
	url = git@github.com:qbouvet/pkgbuilds-python-wpm.git
[submodule "undistract-me"]
	path = undistract-me
	url = git@github.com:qbouvet/pkgbuilds-undistract-me.git
